body{
  
}
h1{
  
}
img{
  height:150px;
    width:150px;
  border-radius:50%;
  object-fit:cover;
  background:#dfdfdf;
}
input{
  display:center;
}
label{
  height:100px;
  width:150px;
  border-radius: 6px;
  border: 1px dashed #999;
}
label: hover{
  color: #de0611;
  border: 1px dashed #de0611;
}
